@black: #000000;
@white: #ffffff;
@green: #008000;
@darkGrey: #1d1f26;
@darkGreyL: #3c3d41;

body{
  background-color: #090c13;
}

.ui_page__content{
  height: 1200px;
  border: 1px solid @white;
}

.ui_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}
@import "ui_menu.less";
@import "ui_preloader.less";
@import "ui_car.less";
@import "ui_layer.less";