@black: #000000;
@white: #ffffff;
@green: #008000;
@darkGrey: #1d1f26;
@darkGreyL: #3c3d41;
@ligthBrown: #888785;

@img-marker:"../img/marker.png";
@img-marker-on:"../img/marker_on.png";
.ui_icon_arrowleft{
  li:hover{
    a:before{
      background: transparent url(@img-marker-on) 0 0 no-repeat;
    }
  }

  a{
    &:before{
      content: "";
      width: 5px;
      height: 9px;
      display: inline-block;
      background: transparent url(@img-marker) 0 0 no-repeat;
      padding-left: 5px;
    }
    &:hover:before{
      background: transparent url(@img-marker-on) 0 0 no-repeat;
    }
  }
}

body{
  background-color: #090c13;
}

@page__content-height:1200px;
@page-width:1920px;
.ui_page{
	max-width: @page-width;
	width: 100%;
	margin: 0 auto;
	border: 1px solid @white;
	height: @page__content-height;  
	display: block;
}

.ui_page__content{	
  height: 640px;
  width: 1200px;  
  margin: 282px auto 0px auto;
  display: block;
  border: 1px solid #ffffff;
}

.ui_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@page1-content-width: 518px;
.ui_page__page1{
  padding-top: 200px;
  padding-left: 90px;
  color: @ligthBrown;
  width: @page1-content-width;
  font-family: Tahoma, Arial, 'Sans Serif';
  font-size: 11px;
  font-style: normal;
  h1{
    background: transparent url("../img/text_1.png") 0 0 no-repeat;
    width: @page1-content-width;
    height: 196px;
    text-indent: -1000px;
    overflow: hidden;
  }
}

@menu-passive-bgcolor: @darkGrey;
@menu-passive-color: @ligthBrown;

@menu-active-bgcolor: @white;
@menu-active-color: @black;

@page1-menu-height:60px;
.ui_page__page1Menu{
  a{
    padding-left: 10px;
    text-decoration: none;
    color: @ligthBrown;
    font-weight: bold;
  }
  height: @page1-menu-height;
  width: 100%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  & > li{
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-top: 1px solid @ligthBrown;
    border-right: 0px;
    &:last-child{
      border-right: 1px solid @ligthBrown;
    }
    height: @page1-menu-height;
    width: @page1-content-width/3 - 3px;
    float: left;
    line-height: @page1-menu-height;
    list-style: none;

    background: transparent;
    &, & >a{
      color: @menu-passive-color;
    }
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
      .ui_page__page1MenuItem{
        display: block;
      }
    }
  }
}
.ui_page__page1MenuItem{
  position: relative;
  top: 0;
  display: none;
  margin: 0px;
  padding: 0px;
  li{
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-right: 1px solid @ligthBrown;
    border-top: 0px;
    background: @menu-passive-bgcolor;
    width: 100%;
    margin-left: -1px;
    &, & > a{
      color: @menu-passive-color;
    }

    float: none;
    list-style: none;
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
    }
  }
}

@import "ui_menu.less";
@import "ui_preloader.less";
@import "ui_car.less";
@import "ui_layer.less";