@black: #000000;
@white: #ffffff;
@green: #008000;
@darkGrey: #1d1f26;
@darkGreyL: #3c3d41;

body{
  background-color: #090c13;
}


//////////////
//
//////////////
@menu-passive-bgcolor: @darkGrey;
@menu-passive-color: @white;

@menu-active-bgcolor: @white;
@menu-active-color: @darkGrey;
@menu-height: 60px;

.ui_menu-fixed.ui_menu-fixed{
    position: fixed;
    width: 100%;
}

.ui_menu{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  ul{
    max-width: 1040px;
    position: relative;
    background: #1d1f26;
    display: block;
    overflow: auto;
    margin: 35px auto 0 auto;
    list-style: none;
    text-align: left;
    padding: 0;
    li{
      float: left;
      border-left: 1px solid #3c3d41;
      padding: 1px 0;

      &:first-child{
        border-left: 0px;
        padding-left: 1px;
      }
      &:last-child{
        padding-right:1px;
      }
      a{
        color: #EEE8DE;
        background: transparent;
        float: none;
        text-decoration: none;
        display: block;
        height: 57px;
        width: 185px;
        line-height: 57px;
        text-align: center;
      }

      .ui_menu__item-logo{
        &:hover{
          cursor: pointer;
        }
        &, &:hover{
          float: right;
          line-height: 72px;
          margin-right: 22px;
        }
      }
      a:hover{
        background: #EEE8DE;
        color: #1d1f26;
      }
    }
  }
}

.ui_menu__item-toolbar{
  width: 270px;
}


.ui_menu_disable.ui_menu_disable{
  a, a:hover{
    line-height: 57px;
    text-align: center;
    display: block;
    color: #EEE8DE;
    background: transparent;
    cursor: default;
    float: left;
  }
}

.ui_menu__item-audio.ui_menu__item-audio{
  margin-left: 5px;
  width: auto;
  img{
    cursor: pointer;
  }
}
.ui_menu__item-loges{
  display: hidden;
  h1{
    background: transparent url("../img/text_0.png") 18px 11px no-repeat;
    overflow: hidden;
    text-indent: 1000px;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}
.ui_menu__item-loges.ui_menu__item-loges a:hover{
    cursor: pointer;
}
//////////////
// preloader
//////////////

.ui_preloader {
  //display: none; //debug
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: @black;
  display: table;
  .mixin_itemsize() {
  }
}

.ui_preloader__item {
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  .ui_preloader > .mixin_itemsize();
}

.ui_preloader__item-img{

}

.ui_preloader__shadow {
  opacity: 0.5;
  background-color: @black;
  width: 100%;
  height: 100%;
  .ui_preloader > .mixin_itemsize();
}



.ui_page__content{
  height: 1200px;
  border: 1px solid @white;
}

.ui_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

//////////////////
// ui_car
//////////////////
.ui_car{
  //display: none; //debug
  position: relative;
  top: 150px;
  left: 50px;
  height: 300px;
  width: 987px;
}
.ui_car-color4{
  background: url("../img/car_color_4.png");
}
.ui_car__wheel{
  position: absolute;
  width: 103px;
  height: 103px;
  background: url("../img/wheel.png");
}

/////////////////
// layer
/////////////////
@layer-width:1920px;
.ui_layer{
  width: 100%;
  display: block;
  top: 0;
  left: 0
}
.ui_layer__base{
  max-width: 1265px;
  width: 100%;
  margin: auto;
  display: block;
  overflow: hidden;
}
.ui_layer__base-group{
  margin-top: -2092px;
  max-width: 1840px;
}
.ui_layer-1{
  width: 100%;
  max-width: 1840px;
  height: 2092px;
  background: #FCF5ED url("../img/layer_1.jpg") 0 0 no-repeat;

}
.ui_layer-2{
  float: left;
  width: @layer-width;
  height: 1657px;
  margin-top: -220px;
  background: transparent url("../img/layer_2.png") 0 0 no-repeat;
}
.ui_layer-3{
  float: left;
  width: @layer-width;
  height: 3140px;
  background: transparent url("../img/layer_3.jpg") 0 0 no-repeat;
}

