//////////////////
// ui_car
//////////////////
.ui_car{
  //display: none; //debug
  position: relative;
  top: 150px;
  left: 50px;
  height: 300px;
  width: 987px;
}
.ui_car-color4{
  background: url("../img/car_color_4.png");
}
.ui_car__wheel{
  position: absolute;
  width: 103px;
  height: 103px;
  background: url("../img/wheel.png");
}
