/////////////////
// layer
/////////////////

.ui_layer{
  width: 100%;
  min-width: 1020px;
  display: block;
  top: 0;
  left: 0;
  margin-top: -15px;   
}
.ui_layer__base{    
  margin: 0 auto;
  display: block;    
}

.ui_layer-1{
  width: 100%;
  max-width: @layer-width;  
  height: @layer-layer1-width;
  background: transparent url("../img/maket/layer-1.jpg") 0 0 no-repeat;
}
.ui_layer__base-group{
  margin-top: -@layer-layer1-width;
}
.ui_layer-2{
  width: 100%;
  max-width: @layer-width;
  height: 1656px;
  background: transparent url("../img/maket/layer-2-1.png") 0 0 no-repeat;
}
.ui_layer-3{
  width: 100%;
  max-width: @layer-width;  
  height: 3140px;
  background: transparent url("../img/maket/layer-2-2.jpg") 0 0 no-repeat;
}


