
//////////////
//
//////////////


.ui_menu-fixed.ui_menu-fixed{
    position: fixed;
    width: 100%;
}

.ui_menu{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.ui_menu__panel{
  width: @menu-width;
  min-height: @menu-height;
  max-height: @menu-height*2;
  background-color: @menu-passive-bgcolor;
  margin: 30px auto 0 auto;

  ul{    
    display: none;
    position: relative;
    background: #1d1f26;
    list-style: none;
    text-align: left;
    padding: 0;
    width: @menu-width;
    left: -170px;
    margin: 22px 29px 10px -170px;
    overflow: hidden;
    border-top: 1px solid @menu-border-color;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;

    li{
      float: left;
      border-left: 1px solid @menu-border-color;
      padding: 1px 0;

      &:first-child{
        border-left: 0px;
        padding-left: 1px;
      }
      &:last-child{
        padding-right:1px;
      }
      a{
        color: #EEE8DE;
        background: transparent;
        float: none;
        text-decoration: none;
        display: block;
        height: 57px;
        width: 185px;
        line-height: 57px;
        text-align: center;
      }
      a:hover{
        background: #EEE8DE;
        color: #1d1f26;
      }
    }
  }
}

.ui_menu__arrowdown{
  width: 60px;
  display: block;
  height: @menu-height;
  float: left;
  img{
      cursor: pointer;
      padding: 26px 0px 0 26px;
  }
  &:hover{
    cursor: pointer;
    height: @menu-height * 2;
    ul{
      display: block;
      position: relative;
      left: 0;
    }
  }
}



.ui_menu__item-toolbar{
  width: 270px;
}


.ui_menu_disable.ui_menu_disable{
  a, a:hover{
    line-height: 57px;
    text-align: center;
    display: block;
    color: #EEE8DE;
    background: transparent;
    cursor: default;
    float: left;
  }
}

.ui_menu__item-audio.ui_menu__item-audio{
  margin-left: 5px;
  width: auto;
  img{
    cursor: pointer;
  }
}

.ui_menu__item-loges{
  display: hidden;
  h1{
    background: transparent url(@menu-img-text-newes) 18px 11px no-repeat;
    min-width: 170px;
    overflow: hidden;
    text-indent: -1000px;
    height: @menu-height;
    padding: 0;
    margin: 0;
    float: left;
  }
  a:hover{
    cursor: pointer;
	}
}
.ui_menu__item-logo{
  height: @menu-height;
  float: right;
  &:hover{
    cursor: pointer;
  }
  &, &:hover{
    float: right;
    line-height: 72px;
    margin-right: 22px;
  }
}