
.ui_page{
	max-width: @page-width;
	width: 100%;
	margin: 0 auto;	
	height: @page__content-height;
	display: block;
  padding-top: 280px;
}

.ui_page__content{
  height: 634px;
  width: 1200px;
  margin: 0px auto 0px auto;
  display: block;  
}

.ui_page__page1{
  padding-top: 191px;
  padding-left: 70px;
  color: @ligthBrown;
  width: @page1-content-width;
  font-family: Tahoma, Arial, 'Sans Serif';
  font-size: 11px;
  font-style: normal;
  h1{
    background: transparent url("../img/maket/text-0.png") 0 0 no-repeat;
    width: @page1-content-width;
    height: 196px;
    text-indent: -1000px;
    overflow: hidden;
  }
}

.ui_page__page1Text{
  margin: 15px 0 0 0;
  line-height: 18px;
  font-family: Arial;
  font-size: 11px;
}

.ui_page__page1Menu{
  a{
    padding-left: 10px;
    text-decoration: none;
    color: @ligthBrown;
    font-weight: bold;
  }
  height: @page1-menu-height;
  width: 100%;
  text-decoration: none;
  margin: 22px 0 0 0;
  padding: 0px;
  & > li{
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-top: 1px solid @ligthBrown;
    border-right: 0px;
    &:last-child{
      border-right: 1px solid @ligthBrown;
    }
    height: @page1-menu-height;
    width: @page1-content-width/3 - 3px;
    float: left;
    line-height: 67px;
    list-style: none;

    background: transparent;
    &, & >a{
      color: @menu-passive-color;
    }
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
      .ui_page__page1MenuItem{
        display: block;
      }
    }
  }
}
.ui_page__page1MenuItem{
  position: relative;
  top: 0;
  display: none;
  margin: -11px 0 0 0px;
  padding: 0px;
  li{
    border-bottom: 1px solid @page1-menu-border-color;
    border-left: 1px solid @page1-menu-border-color;
    border-right: 1px solid @page1-menu-border-color;
    border-top: 0px;
    background: @menu-passive-bgcolor;
    width: 100%;
    margin-left: -1px;
    &, & > a{
      color: @menu-passive-color;
    }

    float: none;
    list-style: none;
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
    }
  }
}

.ui_page__page2{
  height: 247px;
  width: 1200px;
  background: transparent url("../img/maket/page2.jpg") 0 0 no-repeat;
  margin: 0px 0px 0px 0px;
  padding: 405px 0 0 70px;
  h2{
    background: transparent url("../img/maket/tour.png") 0 0 no-repeat;    
    overflow: hidden;
    text-indent: -1000px;
    width: 138px;
    height: 76px;    
  }
}
.ui_page__page2Annotate{
  width: 191px;
  margin: -399px 0px 0px 791px;
  font-size: 11px;
  font-family: Arial;
  line-height: 23px;
  color: #afafaf;  
}
a.ui_page__page2Annotate-link{
  font-weight:bold;
  font-style: italic;
  color: #171717;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.ui_page_page2Pagination{  
  display: block;
  height: @menu-height;
  padding: 5px 0px 0px 0px;
  ul{
    text-decoration: none;
    display: block;
    height: @menu-height;    
    margin: 0;
    padding: 0px 0px 0px 9px;
    float: left;
    li{
      line-height: 72px;    
      text-indent: 14px;
      width: 56px;
      list-style: none;

      height: 56px;
      border-bottom: 1px solid @page2-menu-border-color;
      border-left: 1px solid @page2-menu-border-color;
      border-top: 1px solid @page2-menu-border-color;
      overflow: hidden;
      float: left;
      a{
        font-weight: bold;
        font-size: 10px;
        text-decoration: none;
        background: transparent;
        color: @windyColor;
      }
      &:hover{
        background: @windyColor;
        a{
          color: #9b9b9b;
        }
      }
    }
  }
}

.ui_page_page2Circle{
  float: left;
  width: 60px;
  height: 60px;
  display: block;
  padding: 0;
  margin: 0px;
  a, a:hover, &:hover{
    background: transparent;
  }
  span{
    width: 60px;
    height: 60px;
    display: block;
    &.c1{
      background: transparent url("../img/maket/pagination.png") 3px 2px no-repeat;
    }
    &.c2{
      background: transparent url("../img/maket/pagination.png") -58px 2px no-repeat;      
      margin-left: 9px;
    }
  }
}

.ui_page__page2Text{
  width: 170px;  
  color: @white;
}



.ui_page__page3{
  padding: 18px 0 0 18px;
  display: block;
  h2{
    overflow: hidden;
    text-indent: -1000px;
    background: transparent url("../img/text_3.png") 0 0 no-repeat;
    width: 713px;
    height: 100px;
    padding: 0;
    margin: 192px auto -23px;
  }
}

.ui_page__page3Menu{
  ul{
    text-decoration: none;  
    height: 112px;
    padding: 4px 0px 0px 41px;
  }  
  li{
    cursor: pointer;
    list-style: none;
    float: left;
    height: 112px;
    width: 108px;
    &:hover{
      background: transparent url("../img/maket/icon-video-bg.png") 0 0 no-repeat;  
      & > span, & > p{
        display: block;
        font-size: 11px;
        font-family: Arial;
        color: #696969;
      }

    }
    background: transparent;
    
    & > [class*='ui_page__page3Item-']{
      margin: 17px 0px 0px 6px;
      padding: 0px 0px 0px 0px;
      
    }
    p{
      text-align: center;
      color: @ligthBrown;
      display: none;
      margin-top: 50px;
      &:after{
        content: "";
        background: transparent url("../img/hook.png") 0 0 no-repeat;
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 auto;
      }
    }
    & > span{  
      display: none;   
      background: transparent url("../img/maket/play.png") 0 0 no-repeat;
      width: 25px;
      height: 30px;      
      margin: -52px 0px 0px 50px;
      padding: 0px 0px 0px 0px;
    }
  }
  .bg(@url, @offset:22px){
    background: transparent url(@url) @offset/2 0 no-repeat;
    width: 78px + @offset;
    height: 78px;
  }
  &:hover{
    .ui_page__page3Menu-annotate{
      display: none;
    }
  }
}
.ui_page__page3Menu-annotate{
  font-size: 11px;
  font-family: Arial;
  text-align: center;
  color: #696969;  
  line-height: 6px;
  text-indent: 8px;
}
.ui_page__page3Menu-hook{
  width: 20px;
  height: 21px;
  display: block;
  background: transparent url("../img/maket/hook2.png") 0 0 no-repeat;
  margin: 30px auto;
  padding-right: 12px;
}
.ui_page__page3Item-1{ .ui_page__page3Menu > .bg("../img/icons_1.png"); }
.ui_page__page3Item-2{ .ui_page__page3Menu > .bg("../img/icons_2.png"); }
.ui_page__page3Item-3{ .ui_page__page3Menu > .bg("../img/icons_3.png"); }
.ui_page__page3Item-4{ .ui_page__page3Menu > .bg("../img/icons_4.png"); }
.ui_page__page3Item-5{ .ui_page__page3Menu > .bg("../img/icons_5.png"); }
.ui_page__page3Item-6{ .ui_page__page3Menu > .bg("../img/icons_6.png"); }
.ui_page__page3Item-7{ .ui_page__page3Menu > .bg("../img/icons_7.png"); }
.ui_page__page3Item-8{ .ui_page__page3Menu > .bg("../img/icons_8.png"); }
.ui_page__page3Item-9{ .ui_page__page3Menu > .bg("../img/icons_9.png"); }
.ui_page__page3Item-10{ .ui_page__page3Menu > .bg("../img/icons_10.png"); }
.ui_page__page3Item-11{ .ui_page__page3Menu > .bg("../img/icons_11.png"); }


.ui_page__page4{
  padding: 118px 0 0px 20px;
  margin-top: 15px;
  display: block;
  h2{
    overflow: hidden;
    text-indent: -1000px;
    background: transparent url("../img/text_4.png") 0 0 no-repeat;
    height: 96px;
    width: 264px;
    padding: 0;
    margin: 20px 0 0 0;
  }
  
}

ul.ui_page__page4Menu{
  text-decoration: none;
  height: 39px; 
  li{
    cursor: pointer;
    list-style: none;
    float: left;
    height: 39px;
    width: 40px;
    display: block;
    &:hover, &.active{
      background: transparent url("../img/colors.png") -392px 0px no-repeat;
    }
  }
  .mx(@left, @rigth){
    background: transparent url("../img/colors.png") @left @rigth no-repeat;
    height: 39px;
    width: 39px;
    display: block;    
  }
  .c0{ .mx(8px,0px); }
  .c1{ .mx(-32px,0px); }
  .c2{ .mx(-72px,0px); }
  .c3{ .mx(-112px,0px); }
  .c4{ .mx(-152px,0px); }
  .c5{ .mx(-192px,0px); }
  .c6{ .mx(-232px,0px); }
  .c7{ .mx(-272px,0px); }
  .c8{ .mx(-312px,0px); }
  .c9{ .mx(-352px,0px); }  
}

.ui_page__page4footer{
  width: 1200px;
  margin: 0 auto;
  a{
    text-decoration: none;
    color: @white;
  }
  
}