
.ui_page{
	max-width: @page-width;
	width: 100%;
	margin: 0 auto;
	border: 1px solid @white;
	height: @page__content-height;
	display: block;
}

.ui_page__content{
  height: 640px;
  width: 1200px;
  margin: 282px auto 0px auto;
  display: block;
  border: 1px solid #ffffff;
}

.ui_content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ui_page__page1{
  padding-top: 200px;
  padding-left: 90px;
  color: @ligthBrown;
  width: @page1-content-width;
  font-family: Tahoma, Arial, 'Sans Serif';
  font-size: 11px;
  font-style: normal;
  h1{
    background: transparent url("../img/text_1.png") 0 0 no-repeat;
    width: @page1-content-width;
    height: 196px;
    text-indent: -1000px;
    overflow: hidden;
  }
}


.ui_page__page1Menu{
  a{
    padding-left: 10px;
    text-decoration: none;
    color: @ligthBrown;
    font-weight: bold;
  }
  height: @page1-menu-height;
  width: 100%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  & > li{
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-top: 1px solid @ligthBrown;
    border-right: 0px;
    &:last-child{
      border-right: 1px solid @ligthBrown;
    }
    height: @page1-menu-height;
    width: @page1-content-width/3 - 3px;
    float: left;
    line-height: @page1-menu-height;
    list-style: none;

    background: transparent;
    &, & >a{
      color: @menu-passive-color;
    }
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
      .ui_page__page1MenuItem{
        display: block;
      }
    }
  }
}
.ui_page__page1MenuItem{
  position: relative;
  top: 0;
  display: none;
  margin: 0px;
  padding: 0px;
  li{
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-right: 1px solid @ligthBrown;
    border-top: 0px;
    background: @menu-passive-bgcolor;
    width: 100%;
    margin-left: -1px;
    &, & > a{
      color: @menu-passive-color;
    }

    float: none;
    list-style: none;
    &:hover{
      background: @menu-active-bgcolor;
      &, & > a{
        color: @menu-active-color;
      }
    }
  }
}

.ui_page__page2{
  height: 640px;
  width: 1200px;
  background: transparent url("../img/maket/page2.jpg") 0 0 no-repeat;
  margin: -2px 0px 0px 0px;
  padding: 430px 0 0 60px;
  h2{
    background: transparent url("../img/maket/tour.png") 0 0 no-repeat;    
    overflow: hidden;
    text-indent: -1000px;
    width: 138px;
    height: 76px;    
  }
}

ul.ui_page_page2Pagination{
  text-decoration: none;
  display: block;
  height: @menu-height;    
  padding: 0;
  margin: 0;
  
  li{
    line-height: 80px;
    width: 60px;
    list-style: none;

    height: @menu-height;
    border-bottom: 1px solid @ligthBrown;
    border-left: 1px solid @ligthBrown;
    border-top: 1px solid @ligthBrown;
    overflow: hidden;
    float: left;

    a{
      &:hover{
        background: @white;
        color: @menu-active-color;
      }
      font-weight: bold;
      background: transparent;
      color: @menu-passive-color;
      text-decoration: none;
      padding: 31px 30px 21px 12px;
    }
    &:first-child{
      line-height: 60px;
      border: 0px;
      width: @menu-height + 10;
    }
    &:last-child{
      line-height: 60px;
      width: @menu-height + 10;
      border: 0px;
      border-left: 1px solid @ligthBrown;
    }
  }
}

.ui_page_page2Circle.ui_page_page2Circle{
  width: 60px;
  height: 60px;
  display: block;
  padding: 0;
  margin: 0;
  a, a:hover, &:hover{
    background: transparent;
  }
  span{
    width: 60px;
    height: 60px;
    display: block;
    &.c1{
      background: transparent url("../img/maket/pagination.png") 3px 2px no-repeat;
    }
    &.c2{
      background: transparent url("../img/maket/pagination.png") -58px 2px no-repeat;      
      margin-left: 12px;
    }
  }
}

.ui_page__page2Text{
  width: 170px;  
  color: @white;
}

.ui_page__page2Table{
  width: 100%;
}

.ui_page__page3{
  h2{
    overflow: hidden;
    text-indent: -1000px;
    background: transparent url("../img/text_3.png") 0 0 no-repeat;
    width: 713px;
    height: 100px;
    padding: 0;
    margin: 200px auto -23px;
  }
}

.ui_page__page3Menu{
  text-decoration: none;  
  li{
    cursor: pointer;
    list-style: none;
    float: left;
    height: 112px;
    width: 112px;
    &:hover{
      background: transparent url("../img/maket/icon-video-bg.png") 0 0 no-repeat;  
      & > span, & > p{
        display: block;
      }

    }
    background: transparent;
    
    & > [class*='ui_page__page3Item-']{
      margin: 17px 0px 0px 6px;
      padding: 0px 0px 0px 0px;
      
    }
    p{
      text-align: center;
      color: @ligthBrown;
      display: none;
      margin-top: 50px;
      &:after{
        content: "";
        background: transparent url("../img/hook.png") 0 0 no-repeat;
        width: 22px;
        height: 22px;
        display: block;
        margin: 0 auto;
      }
    }
    & > span{  
      display: none;   
      background: transparent url("../img/maket/play.png") 0 0 no-repeat;
      width: 25px;
      height: 30px;      
      margin: -52px 0px 0px 50px;
      padding: 0px 0px 0px 0px;
    }
  }
  .bg(@url, @offset:22px){
    background: transparent url(@url) @offset/2 0 no-repeat;
    width: 78px + @offset;
    height: 78px;
  }
}

.ui_page__page3Item-1{ .ui_page__page3Menu > .bg("../img/icons_1.png"); }
.ui_page__page3Item-2{ .ui_page__page3Menu > .bg("../img/icons_2.png"); }
.ui_page__page3Item-3{ .ui_page__page3Menu > .bg("../img/icons_3.png"); }
.ui_page__page3Item-4{ .ui_page__page3Menu > .bg("../img/icons_4.png"); }
.ui_page__page3Item-5{ .ui_page__page3Menu > .bg("../img/icons_5.png"); }
.ui_page__page3Item-6{ .ui_page__page3Menu > .bg("../img/icons_6.png"); }
.ui_page__page3Item-7{ .ui_page__page3Menu > .bg("../img/icons_7.png"); }
.ui_page__page3Item-8{ .ui_page__page3Menu > .bg("../img/icons_8.png"); }
.ui_page__page3Item-9{ .ui_page__page3Menu > .bg("../img/icons_9.png"); }
.ui_page__page3Item-10{ .ui_page__page3Menu > .bg("../img/icons_10.png"); }
.ui_page__page3Item-11{ .ui_page__page3Menu > .bg("../img/icons_11.png"); }


.ui_page__page4{
  padding-top: 125px;
  h2{
    overflow: hidden;
    text-indent: -1000px;
    background: transparent url("../img/text_4.png") 0 0 no-repeat;
    height: 96px;
    width: 264px;
    padding: 0;
    margin: 0;
  }
  
}

ul.ui_page__page4Menu{
  text-decoration: none;  
  li{
    cursor: pointer;
    list-style: none;
    float: left;
    height: 39px;
    width: 39px;
    display: block;
    &:hover, &.active{
      background: transparent url("../img/colors.png") -392px 0px no-repeat;
    }
  }
  .mx(@left, @rigth){
    background: transparent url("../img/colors.png") @left @rigth no-repeat;
    height: 39px;
    width: 39px;
    display: block;    
  }
  .c0{ .mx(8px,0px); }
  .c1{ .mx(-32px,0px); }
  .c2{ .mx(-72px,0px); }
  .c3{ .mx(-112px,0px); }
  .c4{ .mx(-152px,0px); }
  .c5{ .mx(-192px,0px); }
  .c6{ .mx(-232px,0px); }
  .c7{ .mx(-272px,0px); }
  .c8{ .mx(-312px,0px); }
  .c9{ .mx(-352px,0px); }  
}

.ui_page__page4footer{
  width: 1200px;
  margin: 0 auto;
  a{
    text-decoration: none;
    color: @white;
  }
  
}